// Renkler
$background-color: #d9d9d9;
$text-color: #fff;
$input-background: #fff;
$input-border: rgba(0, 0, 0, 0.3);
$input-text-color: #444;
$button-background: linear-gradient(45deg, #282a2b, #435651);
$button-text-color: #fff;

// Yazı tipleri
$font-family: "Josefin Sans", sans-serif;

// Boyutlar
$container-padding: 1.5rem;
$input-padding: 0.8rem;
$input-radius: 0.8rem;
$button-padding: 0.8rem;
$button-radius: 0.8rem;
